<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
>
    <testsuites>
        <testsuite name="All Tests">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Plugin Tests">
            <directory>./tests/plugins/</directory>
        </testsuite>
        <testsuite name="Theme Tests">
            <directory>./tests/themes/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./wp-content/plugins/</directory>
            <directory suffix=".php">./wp-content/themes/</directory>
        </include>
        <exclude>
            <directory>./wp-content/plugins/*/tests/</directory>
            <directory>./wp-content/themes/*/tests/</directory>
            <directory>./wp-content/plugins/*/vendor/</directory>
            <directory>./wp-content/themes/*/vendor/</directory>
            <directory>./wp-content/themes/twenty*/</directory>
            <directory>./wp-content/plugins/akismet/</directory>
            <file>./wp-content/plugins/hello.php</file>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
